<section>
  <div class="container login-container">
    <div class="col login-box">
      <p class="roboto login pt-3">Login to Grasp</p>
      <p class="text-secondary text-uppercase mt-4">Easily using</p>
      <button type="button" class="btn btn-outline-secondary l-fb-btn"><a href="./portfolio.html">Facebook</a></button>
      <button type="button" class="btn btn-outline-secondary l-fb-btn"><a
          href="http://www.mail.google.com">Google</a></button>
      <p class="text-secondary text-uppercase mt-5">- or using email -</p>
      <form action="./portfolio.html">
        <fieldset class="fields">
          <input type="email" placeholder="Your Email Address" class="register-email">
          <input type="password" placeholder="Enter Password" class="register-password">
        </fieldset>
        <fieldset class="login-btn">
          <input type="submit" value="log in" class="roboto">
        </fieldset>
      </form>
      <a class="recover-password" href="#">Recover Password</a><span class="newUser">New to Myntra?<a
          [routerLink]="['/signup']"> Create
          Account</a></span>
    </div>
  </div>
</section>